.two-cols{
  display: flex;
  gap:1rem;
  flex-wrap: wrap;
}
.two-cols > .item-card{
  /* two-cols without callout is a plainer version */
  flex-basis:48%;
  margin:0 0 1rem 0;
}
.two-cols > .item-card:last-child{
  margin-bottom:0;
}
.callout{
  flex: 1;
  background-color: rgba(20, 175, 231, 0.2);
  border-radius: 4px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12), 0 3px 10px rgba(0, 0, 0, 0.08);
  padding: .8rem .8rem .8rem .8rem;
  color:#000;
  background-color:#ffddcc;
  border-left: 4px solid #aa8866;
  margin-bottom:1rem;
}
.flex-holder{
  flex: 1;
}
@media (max-width: 34rem) {
  .two-cols{
    display:block;
  }
}
.callout h2 {
  margin-top:0;
}
.callout img.decal {
  max-width:5rem;
}
.item-card {
  border:1px solid #993333;
  border-radius: 8px;
  background-color:#ffeedd;
  position:relative;
  margin:0 0 1rem 0;
}
.item-card .item-card {
  margin:1rem;
  background-color: #ffffff;
}
.item-card img {
  float:right;
  margin:-1rem -0.75rem 0rem 0.75rem;
}
.item-card p {
  padding:0rem 1rem 0.5rem 1rem;
  margin:0.25rem 0 0.5rem 0;
}
.item-card h3 {
  margin:0 0 0.5rem 0;
  padding:0.5rem 1rem;
  background-color:#ccbbaa;
  color: #ffffff;
  border-radius: 8px 8px 0 0;
}
.item-card .item-card h3 {
  background-color:#999999;
}
.item-card.component-server {
  background-color:#ffffdd;
}
.item-card.component-server h3{
  background-color:#bbaa99;
}
.item-card.component-editor {
  background-color:#eeffee;
  border: 1px solid #669966;
}
.item-card.component-editor h3{
  background-color:#88aa88;
}
.item-card.component-docs {
  background-color:#ffeeee;
  border: 1px solid #996666;  
}
.item-card.component-docs h3{
  background-color:#996666;
}
.item-card .item-footer{
  margin:-1rem 0 0 0;
  text-align:right;
}
.item-card p.item-img {
  text-align:center;
  margin:0;
}
.item-card p.item-img img {
  margin:0;
  display:inline-block;
  float:none;
  border:1px solid #666;
}
p.warning::before {
  color:#f77e7e;
  content:'Warning';
}
p.warning{
  padding-left:4em;
  background-image:url(/docs/img/cone.png);
  background-repeat: no-repeat;
  background-position: 0.25rem 0.4rem;
  background-size:3rem;
  min-height:3.5rem;
}
p.navigation::before{
  color: #999933;
  content:'Navigation';
  font-weight: bold;
  text-transform: uppercase;
  font-size: .75em;
  display:block;
}
p.navigation{
  background-color: rgba(231, 175, 6, 0.2);
  border-left: 4px solid #d9ca57; /* #ffeb82 */;
  border-radius: 4px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12), 0 3px 10px rgba(0, 0, 0, 0.08);
  padding: .8rem .8rem .8rem 4em;
  background-image:url(/docs/img/arrow-sign.png);
  background-repeat: no-repeat;
  background-position: 0.25rem 0.4rem;
  background-size:3rem;
  min-height:3.5rem;
}

p.suggest::before{
  color: #60aadd;
  content:'Suggestion';
  font-weight: bold;
  text-transform: uppercase;
  font-size: .75em;
  display:block;
}
p.suggest{
  background-color: rgba(20, 175, 231, 0.2);
  border-left: 4px solid #80c8ff;
  border-radius: 4px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12), 0 3px 10px rgba(0, 0, 0, 0.08);
  padding: .8rem .8rem .8rem 4em;
  background-image:url(/docs/img/steering-wheel.png);
  background-repeat: no-repeat;
  background-position: 0.25rem 0.4rem;
  background-size:3rem;
  min-height:3.5rem;
}

p.note::before {
  color:#7253ed;
  content:'Note';
}
p.note{
  padding: .8rem .8rem .8rem 4em;
  background-image:url(/docs/img/cone-blue.png);
  background-repeat: no-repeat;
  background-position: 0.25rem 0.4rem;
  background-size:3rem;
  min-height:3.5rem;
}
.rhul::before{
  color: #e34d18;
  content:'Case study — RHUL';
  font-weight: bold;
  text-transform: uppercase;
  font-size: .75em;
  display:block;
}
.rhul{
  background-color: #e0e0e0;
  background-image:url(/docs/img/rhul-arms.png);
  background-repeat: no-repeat;
  background-position: 0.25rem 0.4rem;
  background-size:3rem;
  border-radius: 4px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12), 0 3px 10px rgba(0, 0, 0, 0.08);
  padding: .8rem .8rem .8rem 4em;
  min-height:3.5rem;
  border:1px solid #aaaaaa;
  border-left: 4px solid #e34d18;
}
p.todo::before{
  color: #dd0000;
  content:'Work in Progress!';
  font-weight: bold;
  text-transform: uppercase;
  font-size: .75em;
  display:block;
}
p.todo {
  background-color: #ffaaaa;
  padding: .8rem .8rem .8rem 4em;
  background-image:url(/docs/img/roadworks.png);
  background-repeat: no-repeat;
  background-position: 0.25rem 0.4rem;
  background-size:3rem;
  min-height:3.5rem;  
  border-radius: 4px;
  border: 4px dashed #dd0000;
}
.demo::before{
  color: #188818;
  content:'on the demo server';
  font-weight: bold;
  text-transform: uppercase;
  font-size: .75em;
  display:block;
}
.demo{
  background-color: #e0ffe0;
  background-image:url(/docs/img/cone-green.png);
  background-repeat: no-repeat;
  background-position: 0.25rem 0.4rem;
  background-size:3rem;
  border-radius: 4px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12), 0 3px 10px rgba(0, 0, 0, 0.08);
  padding: .8rem .8rem .8rem 4em;
  min-height:3.5rem;
  border:1px solid #aaffaa;
  border-left: 4px solid #188818;
}

/* Two Minutes to Midnight: Up the Irons! */
p.note-two-mins-to-midnight::before {
  color: #dd0000;
  content:'Two minutes to midnight';
  font-weight: bold;
  text-transform: uppercase;
  font-size: .75em;
  display:block;
  color:#f77e7e;
}
p.note-two-mins-to-midnight {
  padding: .8rem .8rem .8rem 4em;
  background-color: rgba(20, 175, 231, 0.2);
  background-image:url(/docs/img/eddie-powerslave.png);
  background-repeat: no-repeat;
  background-position: 0.25rem 0.4rem;
  background-size:3rem;
  min-height:3.5rem;
}
p.note-two-mins-to-midnight {
}



table.config-settings tr td:first-child {
  vertical-align: top;
}


p.screenshot {
  display: inline-block;
  margin:1rem 1rem;
  border:1px solid #666;
  box-shadow: 0.25rem 0.25rem 0.25rem 0.1rem rgba(0,0,0,0.25);
  padding:1.4rem 0 0 0;
  background-color: #999;
  background-image:url(/docs/img/screenshot-top.svg);
  background-position: -0.5rem 0.1rem;
  background-repeat: no-repeat;
  background-size: 4rem 1rem;
  line-height:0; /* no whitespace above/below image */
}
p.screenshot img { border-top:1px solid #666; }
p.caption {
  margin:-0.25rem 1.5rem 1rem 1.5rem;
  font-style:italic;
}
.center{
  text-align:center;
}

.main-content dl dt { font-weight: bold; }
.main-content dl dd { margin-bottom: 2rem; }

.announce-example {
  padding:0.25rem 1rem; 
  display: block;
  margin:0.25rem 1rem;
}
.announce-danger  { background-color: #f8d7da; color :#721c24; }
.announce-info    { background-color: #d1ecf1; color: #0c5460; }
.announce-special { background-color: #ffff00; color: #000000; }
.announce-warning { background-color: #fff3cd; color: #856404; }

.card {
  border:1px solid #aaa;
  padding:0;
  margin:1rem 0 3rem 0;
}
.card h3 {
  margin: 0 0 0 0;
  padding:0 0.6rem 0.6rem 0.6rem;
  background-color:#dddddd;
}
.card h3 span {
  padding-right:1.5rem;
  font-size:2rem;
  color:#ffffff;
}

.card > div {
  margin: 0 0 0 0;
  padding:0.6rem;
  display:flex;
  border-bottom:1px solid #dddddd;
  justify-content: stretch;
}
.card > div:last-child {
  border-bottom:none;
}

.card > div label {
  flex-align:center;
  padding-right:1rem;
  min-width:6rem;
}
.card > div p {
  flex-align:center;
  margin:0;
}
.card > div > div {
  flex-grow: 2; /* full column width, matters for alerts */
}
.complexity {
  display:inline-block;
  background-image:url(/docs/img/cone-blue.png);
  background-size:contain;
  width:2rem;
  min-width:2rem;
  height:2rem;
  color:transparent; /* background image instead */
}
.complex-2 { width:4rem; min-width:4rem; }
.complex-3 { width:6rem; min-width:6rem; }
.complex-4 { width:8rem; min-width:8rem; }
.complex-5 { width:10rem; min-width:10rem; }
ul.pros, ul.cons {
  padding:0;
  margin:0;
  list-style-position: outside;
}
ul.pros li, ul.cons li { margin-top: 0; }

ul.pros li::before { content: "+"; }
ul.cons li::before { content: "–"; }

ol.upper-alpha{
  list-style-type: upper-alpha;
}
ol.upper-alpha li::before { content: none; }
.card .navigation { margin:1rem 0; }
.card .navigation:first-child { margin-top:0; }

ul.glossary-index {
  list-style:none;
  text-align:center;
  margin:2rem auto 3rem auto;
  li {
    display:inline-block;
    padding:0.1rem 0.5rem;
    border:1px solid #aaaaaa;
    border-radius: 4px;
    &:hover {
      background-color:#eeeeee; 
    }
  }
  li:before {
    content:none;
  }
}

.glossary {
  dd a[href^="#"] {
    font-weight:bold;
    color:#000000;
  }
  dd a[href^="#"]:before {
    content: "#";
    color:#aaaaaa;
  }
}
