p.warning::before {
  color:#f77e7e;
  content:'Warning';
}
p.warning{
  padding-left:4em;
  background-image:url(/docs/img/cone.png);
  background-repeat: no-repeat;
  background-position: 0.25rem 0.4rem;
  background-size:3rem;
  min-height:3.5rem;
}
p.navigation::before{
  color: #999933;
  content:'Navigation';
  font-weight: bold;
  text-transform: uppercase;
  font-size: .75em;
  display:block;
}
p.navigation{
  background-color: rgba(231, 175, 6, 0.2);
  border-left: 4px solid #d9ca57; /* #ffeb82 */;
  border-radius: 4px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12), 0 3px 10px rgba(0, 0, 0, 0.08);
  padding: .8rem .8rem .8rem 4em;
  background-image:url(/docs/img/arrow-sign.png);
  background-repeat: no-repeat;
  background-position: 0.25rem 0.4rem;
  background-size:3rem;
  min-height:3.5rem;
}

p.suggest::before{
  color: #60aadd;
  content:'Suggestion';
  font-weight: bold;
  text-transform: uppercase;
  font-size: .75em;
  display:block;
}
p.suggest{
  background-color: rgba(20, 175, 231, 0.2);
  border-left: 4px solid #80c8ff;
  border-radius: 4px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12), 0 3px 10px rgba(0, 0, 0, 0.08);
  padding: .8rem .8rem .8rem 4em;
  background-image:url(/docs/img/steering-wheel.png);
  background-repeat: no-repeat;
  background-position: 0.25rem 0.4rem;
  background-size:3rem;
  min-height:3.5rem;
}

p.note::before {
  color:#7253ed;
  content:'Note';
}
p.note{
  padding: .8rem .8rem .8rem 4em;
  background-image:url(/docs/img/cone-blue.png);
  background-repeat: no-repeat;
  background-position: 0.25rem 0.4rem;
  background-size:3rem;
  min-height:3.5rem;
}
p.rhul::before{
  color: #e34d18;
  content:'Case study — RHUL';
  font-weight: bold;
  text-transform: uppercase;
  font-size: .75em;
  display:block;
}
p.rhul{
  background-color: #e0e0e0;
  background-image:url(/docs/img/rhul-arms.png);
  background-repeat: no-repeat;
  background-position: 0.25rem 0.4rem;
  background-size:3rem;
  border-radius: 4px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12), 0 3px 10px rgba(0, 0, 0, 0.08);
  padding: .8rem .8rem .8rem 4em;
  min-height:3.5rem;
  border:1px solid #aaaaaa;
  border-left: 4px solid #e34d18;
}

table.config-settings tr td:first-child {
  vertical-align: top;
}

/*
p.screenshot img{
  margin:1rem 1rem 1rem 0rem;
  border:1px solid #999999;
  box-shadow: 0.25rem 0.25rem 0.25rem 0.1rem rgba(0,0,0,0.25);
}
*/
p.screenshot {
  display: inline-block;
  margin:1rem 1rem;
  border:1px solid #666;
  box-shadow: 0.25rem 0.25rem 0.25rem 0.1rem rgba(0,0,0,0.25);
  padding:1.4rem 0 0 0;
  background-color: #999;
  background-image:url(/docs/img/screenshot-top.svg);
  background-position: -0.5rem 0.1rem;
  background-repeat: no-repeat;
  background-size: 4rem 1rem;
  line-height:0; /* no whitespace above/below image */
}
p.screenshot img { border-top:1px solid #666; }
p.caption {
  margin:-0.25rem 1.5rem 1rem 1.5rem;
  font-style:italic;
}
.center{
  text-align:center;
}

.main-content dl dt { font-weight: bold; }
.main-content dl dd { margin-bottom: 2rem; }
